<div class="account">
  <div>
    <h1 class="center">Community Chest</h1>
    <h2 class="center">Something Something</h2>
    <p class="center">
      <%=link_to 'Sign Up', new_user_path, class: "btn btn-secondary"%>
    </p>
  </div>
  <div>
    <h1 class="center">Sign In</h1>

    <%= form_for(:session, url: login_path) do |f| %>
      <p class="center">
        <%= f.email_field :email, placeholder: "Email" %>
      </p>
      <p class="center">
        <%= f.password_field :password, placeholder: "Password" %>
      </p>
      <p class="center">
        <%= f.submit 'Login', class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>

</div>
