<div class="forms">
  <h1 class="center"><%=@user.first_name.capitalize%></h1>
  <h2 class="center">Edit Profile</h2>
  <div class="forms-grid">

    <%= form_for(@user) do |u|%>
    <p>
      First Name: <br>
      <%= u.text_field :first_name%>
    </p>
    <p>
      Last Name: <br>
      <%= u.text_field :last_name %>
    </p>
    <p>
      Email: <br>
      <%= u.email_field :email%><br>
    </p>
    <p>
      Username: <br>
      <%= u.text_field :username %><br>
    </p>
      <p>
        Password: <br>
        <%= u.password_field :password %><br>
      </p>
      <p>
        Confirm Password: <br>
        <%= u.password_field :password_confirmation %><br>
      </p>
      <p>
        Location: <br>
        <%= u.select :location, ["Brooklyn", "Queens", "Manhattan", "Bronx", "Staten Island"]%><br>
      </p>
      <label>Profile Picture: </label>
      <label class="fileupload-pt">Choose File
        <%= u.file_field :picture, direct_upload: true, id: "fileupload"%>
      </label> <br>
    </div> <br>
    <p class="center">
      <%= u.submit "Save Changes", class: "btn btn-secondary" %>
    </p>
    <% end %>
</div>
