<body id="accountbg">
<div class="account">
  <div class="animate-up center">
    <h1> Sign Up</h1>

    <%= form_for(@user) do |u|%>
      <%= u.text_field :first_name, placeholder: "First Name" %>
      <%= u.text_field :last_name, placeholder: "Last Name" %>
      <%= u.email_field :email, placeholder: "Email"%>
      <%= u.text_field :username, placeholder: "User Name" %>
      <%= u.password_field :password, placeholder: "Password" %>
      <%= u.password_field :password_confirmation, placeholder: "Confirm Password"%>

    <p>
      <label> Select your location:</label><br>
      <%= u.collection_select :location_id, Location.order(:name), :id, :name, { include_blank: true } %><br>
    </p>

    <label>Profile Picture: </label>
    <label class="fileupload">Choose File
      <%= u.file_field :picture, direct_upload: true, id: "fileupload"%>
    </label> <br> <br>
    <p>
      <%= u.submit 'Sign Up', class: "btn btn-primary" %>
    </p>

    <% end %>

  </div>
  <div class="animate-down">

    <h1 class="half-toppadding center">Community Chest</h1>

    <h2 class="center">Something Something</h2>

    <p class="center">
      <%=link_to 'Sign In', login_path, class: "btn btn-secondary"%>
    </p>

  </div>
</div>
</body>
