<h1> Create a user</h1>

<%= form_for(@user) do |u|%>

<label> Enter first name:</label><br>
<%= u.text_field :first_name%><br>

<label> Enter last name:</label><br>
<%= u.text_field :last_name %><br>

<label> Enter an email:</label><br>
<%= u.email_field :email%><br>

<label> Enter a username:</label><br>
<%= u.text_field :username %><br>

<label> Enter password:</label><br>
<%= u.password_field :password %><br>

<label> Confirm Password:</label><br>
<%= u.password_field :password_confirmation %><br>


<p>
<%= u.submit %>
</p>

<% end %>
