<div class="user-profile">
  <div class="user-img">
    <%=@user.picture.attachment.nil? ? content_tag(:div, "", class: "user-default"): image_tag(@user.picture)%>
  </div>
  <div class="center">
    <h1><%= @user.full_name%></h1>
    <p>Username: <strong><%= @user.username.capitalize%></strong></p>
    <p>My Location: <strong><%= @user.location.name%></strong></p>
    <p>Email: <strong><%= @user.email%></strong></p>
    <p>Created Posts: <strong><%= @user.posts.count%></strong></p>
    <a class="icon" href="<%= edit_user_path %>">
      <img src="/assets/edit.png">
    </a> &nbsp &nbsp
    <a class="icon" href="<%= new_post_path %>">
      <img src="/assets/add.png">
    </a> &nbsp &nbsp
    <%= link_to user_path, remote: true, method: :delete, data: {confirm: 'Are you sure?'}, class: 'icon' do %>
    <%= image_tag("/assets/delete.png") %>
    <% end %>
  </div>
</div>
<hr>

<div id="posts" class="user-posts">
<h1 class="center">Created Posts</h1> <br>
<%posts = Post.where(user_id: session[:user_id])%>
<div class="posts-grid">
  <%posts.each do |post|%>
  <div class="post" id="post-<%=post.id%>">
    <div>
      <a href="<%=post_path(post.id)%>">
      <%=post.picture.attachment.nil? ? content_tag(:div, "", class: "post-default"): image_tag(post.picture, class: "posts-img")%>
    </a>
    </div>
    <div class="description center">
      <a class="heading" href="<%=post_path(post.id)%>"><%=post.name%></a>
      <p><%=post.description.truncate(100)%></p>
      <p><%=post.tags%></p>
      <%= link_to "Edit", edit_post_path(post)%> &nbsp &nbsp
      <%= link_to "Delete", post_path(post), remote: true, method: :delete, data: { confirm: 'Are you sure you want to delete this?'} %>
    </div>
  </div>
  <%end%>
</div>
</div>
