<h1 class="center">Latest Post</h1>
<%posts = Post.all%>



<%posts.reverse.each do |post|%>

<% if params["search"] == nil %>

<div class="product-container">
  <div class="product-card">
    <div>
      <a href="<%=post_path(post.id)%>">
        <%=post.picture.attachment.nil? ? content_tag(:div, "", class: "product-default"): image_tag(post.picture, class: "pst-img")%>
      </a>
    </div>
    <div class="product-info center">
      <a class="heading" href="<%=post_path(post.id)%>"><%=post.name.upcase%></a>
      <p>
        <%=post.description%>
      </p>
      <p>
        <% tags = post.tags.split(" ").each do |tag| %>
        <% t = tag.sub('#','') %>
        <a href="/?search=%23<%= t %>&submit=Search"><%=tag%></a>
        <% end %>

        &nbsp
        Manhattan
      </p>
      <p>
        <%=link_to 'Learn More', post_path(post.id), class: "btn btn-secondary" %>
      </p>
    </div>
  </div>
</div>
<% elsif params["search"].downcase == post.name.downcase || post.tags.include?(params["search"].downcase) %>
<div class="product-container">
  <div class="product-card">
    <div>
      <a href="<%=post_path(post.id)%>">
        <%=post.picture.attachment.nil? ? content_tag(:div, "", class: "product-default"): image_tag(post.picture, class: "pst-img")%>
      </a>
    </div>
    <div class="product-info center">
      <a class="heading" href="<%=post_path(post.id)%>"><%=post.name.upcase%></a>
      <p>
        <%=post.description%>
      </p>
      <p>
        <%=post.tags%> &nbsp
        Manhattan
      </p>
      <p>
        <%=link_to 'Learn More', post_path(post.id), class: "btn btn-secondary" %>
      </p>
    </div>
  </div>
</div>
<% end %>
<% end %>
