<h1 class="center">Latest Post</h1>
<%posts = Post.all%>

<%posts.reverse.each do |post|%>

<% if params["search"] == nil %>

<div class="product-container">
  <div class="product-card">
    <div>
      <a href="<%=post_path(post.id)%>">
        <%=post.picture.attachment.nil? ? content_tag(:div, "", class: "product-default"): image_tag(post.picture, class: "pst-img")%>
      </a>
    </div>
    <div class="center">
      <a class="heading" href="<%=post_path(post.id)%>"><%=post.name.upcase%></a>
      <p>
        <strong>By:</strong> <a href="/users/<%= post.user.id %>"><%=post.user.username.capitalize%></a> &nbsp
        <strong>Created:</strong> <%=post.created_at.strftime('%b %d, %C%y')%> &nbsp
        <strong>Status:</strong> <%=post.status.capitalize%>
      </p>
      <p>
        <%=post.description.truncate(100)%> <br>
        <%= link_to 'Read More', post_path(post.id)%>
      </p>
      <p>
        <% tags = post.tags.split(" ").each do |tag| %>
        <% t = tag.sub('#','') %>
        <a href="/?search=%23<%= t %>&submit=Search"><%=tag%></a>
        <% end %>

        &nbsp
        <strong>Location:</strong> <%=post.user.location.name%>
      </p>
      <p>
        <% unless session[:user_id] == post.user.id %>
        <%= link_to("Contact Seller", user_chats_path(current_user, :other_user => post.user.id, :post => post.id), method: :post, class: "btn btn-primary") %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<% elsif params["search"].downcase == post.name.downcase || post.tags.include?(params["search"].downcase) %>

<div class="product-container">
  <div class="product-card">
    <div>
      <a href="<%=post_path(post.id)%>">
        <%=post.picture.attachment.nil? ? content_tag(:div, "", class: "product-default"): image_tag(post.picture, class: "pst-img")%>
      </a>
    </div>
    <div class="center">
      <a class="heading" href="<%=post_path(post.id)%>"><%=post.name.upcase%></a>
      <p>
        <strong>By:</strong> <a href="/?search=%23<%= post.user.username %>&submit=Search"><%=post.user.username.capitalize%></a> &nbsp
        <strong>Created:</strong> <%=post.created_at.strftime('%b %d, %C%y')%> &nbsp
        <strong>Status:</strong> <%=post.status.capitalize%>
      </p>
      <p>
        <%=post.description.truncate(100)%> <br>
        <%= link_to 'Read More', post_path(post.id)%>
      </p>
      <p>
        <% tags = post.tags.split(" ").each do |tag| %>
        <% t = tag.sub('#','') %>
        <a href="/?search=%23<%= t %>&submit=Search"><%=tag%></a>
        <% end %>

        &nbsp
        <strong>Location:</strong> <%=post.user.location.name%>
      </p>
      <p>
        <%= link_to("Contact Seller", user_chats_path(current_user, :other_user => post.user.id, :post => post.id), method: :post, class: "btn btn-primary") %>
      </p>
    </div>
  </div>
</div>
<% end %>
<% end %>
