<h1 class="center">Latest Post</h1>
<%posts = Post.all%>

<%posts.reverse.each do |post|%>
<div class="product-container">
  <div class="product-card">
    <div>
      <a href="<%=post_path(post.id)%>">
        <%=post.picture.attachment.nil? ? content_tag(:div, "", class: "product-default"): image_tag(post.picture, class: "pst-img")%>
      </a>
    </div>
    <div class="product-info center">
      <a class="heading" href="<%=post_path(post.id)%>"><%=post.name.upcase%></a>
      <p>
        <%=post.description%>
      </p>
      <p>
        <%=post.tags%> &nbsp
        Manhattan
      </p>
      <p>
        <%=link_to 'Learn More', post_path(post.id), class: "btn btn-secondary" %>
      </p>
    </div>
  </div>
</div>
<%end%>
