<div class="forms">
  <h1 class="center"><%=@post.name.capitalize%></h1>
  <h2 class="center">Edit Post</h2>
  <div class="forms-grid">
    <%= form_for(@post) do |post| %>
    <p>
      Post title <br>
      <%= post.text_field :name %> <br>
    </p>
    <p>
      Description <br>
      <%= post.text_area :description, size: "25x9" %>
    </p>
    <p>
      Tags <br>
      <%= post.text_field :tags %>
    </p>
    <p>
      Category <br>
      <%= post.collection_select :category_id, Category.order(:name), :id, :name, { include_blank: true } %>
    </p>
    <label>Post Image </label>
    <label class="fileupload-pt">Choose File
      <%= post.file_field :picture, direct_upload: true, id: "fileupload"%>
    </label> <br>
    <p>
      Post Status <br>
      <%= post.select :status, ["Open", "In Progress", "Closed"]%>
    </p>
    <p class="center">
      <%= post.submit "Save Changes", class: "btn btn-secondary" %>
    </p>
    <% end %>
  </div>
</div>
