<h1> Edit Post </h1><br>

<%= form_for(@post) do |post| %>


<label> Enter a title for your post: </label><br>
<%= post.text_field :name %> <br>

<label>Type out a short description: </label><br>
<%= post.text_field :description %> <br>

<label>Put some tags for your item: </label> <br>
<%= post.text_field :tags %> <br><br>

<label>Select a category</label><br>
<%= post.collection_select :category_id, Category.order(:name), :id, :name, { include_blank: true } %><br>

<label>Edit picture: </label> <br>
<%= post.file_field :picture, direct_upload: true %><br><br>

<label>Status of item: </label> <br>
<%= post.select :status, ["Open", "In Progress", "Closed"]%><br>
<p>
  <%= post.submit %>
</p>

<% end %>
