<div class="post-grid">
  <div>
    <%=@post.picture.attachment.nil? ? content_tag(:div, "", class: "img-default"): image_tag(@post.picture)%>
  </div>
  <div>
    <h1 class="center"><%=@post.name.upcase%></h1>
    <strong>By: </strong><a href="/users/<%= @post.user.id %>"><%=@post.user.username.capitalize%></a>
    <p><strong>Created: </strong><%=@post.created_at.strftime('%b %d, %C%y')%></p>
    <p><strong>Status: </strong><%=@post.status.capitalize%></p>
    <p><strong>Category: </strong> <a href="<%=category_path(@post.category_id)%>"><%=@post.category.name%></a></p>
    <p><strong>Description: </strong><%=@post.description%></p>
    <p><strong>Location: </strong><%=@post.user.location.name.capitalize%></p>
    <% tags = @post.tags.split(" ").each do |tag| %>
    <% t = tag.sub('#','') %>
    <a href="/?search=%23<%= t %>&submit=Search"><%=tag%></a>
    <% end %>
    <%= link_to("Contact", user_chats_path(current_user, :other_user => @post.user.id, :post => @post.id), method: :post) %>
  </div>
</div>

<hr>

<h1 class="center">Related Posts</h1> <br>
<div class="related-posts">
  <%posts = Post.where(category: @post.category_id).take(3)%>
  <div class="posts-grid">
    <%posts.reverse.each do |post|%>
     <%  if post.id != @post.id %>
    <div class="post" id="post-<%=post.id%>">
      <div>
        <a href="<%=post_path(post.id)%>">
        <%=post.picture.attachment.nil? ? content_tag(:div, "", class: "post-default"): image_tag(post.picture, class: "posts-img")%>
      </a>
      </div>
      <div class="description center">
        <a class="heading" href="<%=post_path(post.id)%>"><%=post.name%></a>
        <p><%=post.description.truncate(100)%> </p>
        <p>
        <%= link_to 'Read More', post_path(post.id), class: "btn btn-primary"%>
        </p>
      </div>
    </div>
    <%end%>
    <%end%>
  </div>
</div>
