
  <%posts = Post.where(category_id: @categories.id)%>
  <%if !posts.empty?%>
  <h1 class="center"><%=@categories.name%></h1>
  <div class="posts-grid">
  <%posts.reverse.each do |post|%>
  <div class="post">
    <div>
      <a href="<%=post_path(post.id)%>">
      <%=post.picture.attachment.nil? ? content_tag(:div, "", class: "post-default"): image_tag(post.picture, class: "posts-img")%>
    </a>
    </div>
    <div class="description center">
      <a class="heading" href="<%=post_path(post.id)%>"><%=post.name%></a> <br>
      <a href="/users/<%= post.user.id %>"><strong><%=post.user.username.capitalize %></strong></a> <br>
      <p><%=post.description.truncate(100)%></p>
      <p><%=post.user.location.name%></p>
      <p><%=post.tags%></p>
      <p>
      <%= link_to 'Read More', post_path(post.id), class: "btn btn-primary"%>
      </p>
    </div>
  </div>
  <%end%>
  <%else%>
</div>
  <h1 class="center">There are no post in this category</h1>
  <%end%>
