<h1 class="center">Go Premium</h1>
<div class="premium">
  <div>
    <h2 class="center">Forever Free</h2>
    <h3 class="center"><strong>$0.00</strong>/year</h3>
    <ul>
      <li>See 3 posts per day</li>
    </ul>
  </div>

  <div>
    <h2 class="center">Forever Premium</h2>
    <h3 class="center"><strong>$<%=@total.round(2)%></strong>/year</h3>
    <ul>
      <li>See unlimited posts per day</li>
    </ul>
  </div>
</div>
<!--
# <%= form_tag charges_path do %>
#   <article>
#     <% if flash[:error].present? %>
#       <div id="error_explanation">
#         <p><%= flash[:error] %></p>
#       </div>
#     <% end %>
#     <label class="amount">
#       <span>Amount: $<%=sprintf('%.2f', @amount_dollar)%></span> <br>
#       <span>Tax: $<%=@tax.round(2)%></span> <br>
#       <span>Total: $<%=@total.round(2)%></span> <br>
#     </label>
#   </article>
#
#   <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
#           data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
#           data-description="Here's Your Subscription"
#           data-amount="545"
#           data-locale="auto"></script>
# <% end %> -->
