<% if logged_in? %>
<nav role='navigation'>
  <div id="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <%user = User.find(session[:user_id])%>
    <ul class="center" id="menu">
      <%= image_tag(user.picture, class: "userimg") if user.picture.attached?%>
     <h3>Hello, <%= user.first_name %></h3>

      <b><%= link_to 'View Profile & Posts', user_path(session[:user_id]) %></b><br>
      <br>

      <%= link_to 'Create a new post', new_post_path %> <br><br>
      <%= link_to 'View Chats', user_chats_path(session[:user_id]) %> <br>
      <p>Search By Location <br>
        <%=link_to 'Manhattan',  locations_manhattan_path%> <br>
        <%=link_to 'Brooklyn',  locations_brooklyn_path%> <br>
        <%=link_to 'Queens',  locations_queens_path%> <br>
        <%=link_to 'The Bronx',  locations_the_bronx_path%> <br>
        <%=link_to 'Staten Island',  locations_staten_island_path%>
      </p>
    </ul>


  </div>
</nav>
<% end %>
