<!DOCTYPE html>
<html>
  <head>
    <title>Techstartup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="alerts" class="center animate-up">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <div class="main">
      <%= yield %>
    </div>

    <script type="text/javascript">
    window.addEventListener('load', function(){
      console.log("works");
      setTimeout(function(){
        var alert = document.querySelector('.alert-notice');
        alert.classList.add('hidden');
      },2000)
    });
  </script>

  </body>
</html>
