<!DOCTYPE html>
<html>
  <head>
    <title>NYC's Community Chest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">




    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <%= render 'layouts/topnav' %>

   <%= render 'layouts/sidenav' %>

    <div id="alerts" class="center">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>


    <div class="main">
      <%= yield %>
    </div>

    <script type="text/javascript">
    window.addEventListener('load', function(){
      console.log("works");
      setTimeout(function(){
        var alert = document.querySelector('#alerts');
        alert.classList.add('hidden');
      },2000)
    });
  </script>

  </body>
</html>
